*{
    text-align:center
}
body {
    background-color: rgb(48, 47, 47)
}

h1 {
    color: white;
    font-family: serif;
    font-size:60px
    
}
h2 {
    color: white;
    font-family: serif;
    font-size:40px
}
p{
    color: white;
    font-size: 23px;
    
}

